page-auth {
    .auth-bg {
        background-image: url('../../assets/img/stormwind.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
